# Proyecto del D铆a 14 - Gesti贸n Segura de Datos de Clientes

Este notebook implementa un sistema b谩sico de gesti贸n y an谩lisis de datos de clientes, aplicando t茅cnicas de pseudonimizaci贸n, anonimizaci贸n y balanceo de datos.


## Objetivo
El proyecto consiste en desarrollar un sistema de gesti贸n y an谩lisis de datos de clientes que implemente t茅cnicas de pseudonimizaci贸n, anonimizaci贸n y balanceo de datos para proteger la privacidad de los usuarios y asegurar un an谩lisis equitativo.


## Consignas del Proyecto
1. Cargar los datos de clientes provistos en un archivo CSV.
2. Aplicar t茅cnicas de anonimizaci贸n al campo `direccion`, `edad` y `salario` para proteger la identidad de los clientes.
3. Aplicar t茅cnicas de pseudonimizaci贸n al campo `nombre`.
4. Implementar una funci贸n de balanceo de datos para asegurar la representaci贸n equitativa de diversas categor铆as en el an谩lisis posterior.
5. Realizar un an谩lisis simple de los datos para identificar tendencias o patrones que podr铆an ser 煤tiles para decisiones de negocios o marketing.


Este proyecto te permitir谩 aplicar pr谩cticas esenciales de privacidad de datos y t茅cnicas de manipulaci贸n de datos en un entorno pr谩ctico, prepar谩ndote para desaf铆os similares en entornos profesionales.

隆Mucha suerte y que te diviertas!

In [9]:
import os
import uuid

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from dotenv import load_dotenv

In [4]:
load_dotenv('.env')

True

### 1. Cargar los datos de clientes provistos en un archivo CSV.

In [5]:
df: pd.DataFrame = pd.read_csv(os.environ['PROJECT_DATA'])

### 2. Aplicar t茅cnicas de anonimizaci贸n al campo `direccion`, `edad` y `salario` para proteger la identidad de los clientes.

In [ ]:
# Anonimizar el campo direcci贸n por simple supresi贸n
# (asumiendo que no es relevante para el estudio)
df.drop(['direccion'], axis=1, inplace=True)

In [ ]:
# Anonimizar el campo edad por redondeo o truncado
# adaptando las edades a sus respectivas d茅cadas
df['edad'] = (df['edad'] // 10) * 10

In [8]:
# Anonimizar el campo salario con ruido aleatorio
noise: np.ndarray = np.random.normal(0, 10000, size=df['salario'].shape)
df['salario'] += noise

### 3. Aplicar t茅cnicas de pseudonimizaci贸n al campo `nombre`.

In [10]:
# Pseudonomizaci贸n de los valores del campo nombre
# usando un identificador 煤nico universal (UUID) para cada valor
uuid_container: list[str] = []

for _ in range(len(df)):
    uuid_container.append(str(uuid.uuid4()))

df['uuid'] = uuid_container
df.drop(['nombre'], axis=1, inplace=True)

A partir de aqu铆, ya parece seguro mostrar el contenido de `df` para los siguientes pasos.

In [11]:
df.head()

   edad  categoria       salario                                  uuid
0    60          0  74189.466539  1908635c-7c0a-4db0-82cc-bcd0971c4449
1    60          1  50776.658566  9d3178c7-c3e3-4def-9803-b8c799f0aa7b
2    10          0  66739.991400  14b51fca-4094-4dd8-a9f4-4e74b9d00184
3    20          1  23795.264394  e43c1f82-f14b-45ab-861e-705b0e8a2f0c
4    20          1  32557.826303  aaa3cb4c-f1d7-4593-831f-ad6c86982fb9