# Anonimización de Datos en Data Science 1
Dado un dataframe llamado `df` que contiene la siguiente información de clientes:
```
data = {
    'nombre': ['Juan Pérez', 'Ana López', 'María García', 'Luis Martínez', 'Carmen Rodríguez'],
    'correo': ['juan@example.com', 'ana@example.com', 'maria@example.com', 'luis@example.com', 'carmen@example.com'],
    'ubicacion': ['Ciudad A', 'Ciudad B', 'Ciudad C', 'Ciudad D', 'Ciudad E']
}
```
Escribe un código que elimine permanentemente las columnas `nombre` y `correo` del dataframe para anonimizar los datos.

In [2]:
import numpy as np
import pandas as pd


data = {
    'nombre': ['Juan Pérez', 'Ana López', 'María García', 'Luis Martínez', 'Carmen Rodríguez'],
    'correo': ['juan@example.com', 'ana@example.com', 'maria@example.com', 'luis@example.com', 'carmen@example.com'],
    'ubicacion': ['Ciudad A', 'Ciudad B', 'Ciudad C', 'Ciudad D', 'Ciudad E']
}

df = pd.DataFrame(data)
df.drop(['nombre', 'correo'], axis=1, inplace=True)
df

  ubicacion
0  Ciudad A
1  Ciudad B
2  Ciudad C
3  Ciudad D
4  Ciudad E

# Anonimización de Datos en Data Science 2
Dado el mismo dataframe `df` del ejercicio anterior:
```
# Datos iniciales
data = {
    'nombre': ['Juan Pérez', 'Ana López', 'María García', 'Luis Martínez', 'Carmen Rodríguez'],
    'correo': ['juan@example.com', 'ana@example.com', 'maria@example.com', 'luis@example.com', 'carmen@example.com'],
    'ubicacion': ['Ciudad A', 'Ciudad B', 'Ciudad C', 'Ciudad D', 'Ciudad E']
}

# Creación del DataFrame
df = pd.DataFrame(data)
```
Escribe un código que sustituya las direcciones de correo electrónico por el valor `'anon@example.com'`.

In [3]:
import numpy as np
import pandas as pd


data = {
    'nombre': ['Juan Pérez', 'Ana López', 'María García', 'Luis Martínez', 'Carmen Rodríguez'],
    'correo': ['juan@example.com', 'ana@example.com', 'maria@example.com', 'luis@example.com', 'carmen@example.com'],
    'ubicacion': ['Ciudad A', 'Ciudad B', 'Ciudad C', 'Ciudad D', 'Ciudad E']
}

df = pd.DataFrame(data)
email_sustitute = 'anon@example.com'
df['correo'] = email_sustitute
df

             nombre            correo ubicacion
0        Juan Pérez  anon@example.com  Ciudad A
1         Ana López  anon@example.com  Ciudad B
2      María García  anon@example.com  Ciudad C
3     Luis Martínez  anon@example.com  Ciudad D
4  Carmen Rodríguez  anon@example.com  Ciudad E

# Anonimización de Datos en Data Science 3
Dado un dataframe `df` que contiene información de clientes con las siguientes columnas:
```
data = {
    'edad': [20, 30, 10, 40, 60],
    'ubicacion': ['Ciudad A', 'Ciudad B', 'Ciudad C', 'Ciudad D', 'Ciudad E'],
    'salario': [54892.06, 33952.23, 76071.78, 51049.47, 62080.65],
    'banco': ['Banco 1', 'Banco 2', 'Banco 1', 'Banco 3', 'Banco 3']
}

df = pd.DataFrame(data)
```
Escribe un código que permute aleatoriamente los valores de la columna `banco` para que sea imposible asociar una persona a un banco específico.

In [4]:
import numpy as np
import pandas as pd


data = {
    'edad': [20, 30, 10, 40, 60],
    'ubicacion': ['Ciudad A', 'Ciudad B', 'Ciudad C', 'Ciudad D', 'Ciudad E'],
    'salario': [54892.06, 33952.23, 76071.78, 51049.47, 62080.65],
    'banco': ['Banco 1', 'Banco 2', 'Banco 1', 'Banco 3', 'Banco 3']
}

df = pd.DataFrame(data)
df['banco'] = np.random.permutation(df['banco'])
df

   edad ubicacion   salario    banco
0    20  Ciudad A  54892.06  Banco 2
1    30  Ciudad B  33952.23  Banco 3
2    10  Ciudad C  76071.78  Banco 1
3    40  Ciudad D  51049.47  Banco 1
4    60  Ciudad E  62080.65  Banco 3