# Anonimización de Datos en Data Science 1
Dado un dataframe llamado `df` que contiene la siguiente información de clientes:
```
data = {
    'nombre': ['Juan Pérez', 'Ana López', 'María García', 'Luis Martínez', 'Carmen Rodríguez'],
    'correo': ['juan@example.com', 'ana@example.com', 'maria@example.com', 'luis@example.com', 'carmen@example.com'],
    'ubicacion': ['Ciudad A', 'Ciudad B', 'Ciudad C', 'Ciudad D', 'Ciudad E']
}
```
Escribe un código que elimine permanentemente las columnas `nombre` y `correo` del dataframe para anonimizar los datos.

In [2]:
import numpy as np
import pandas as pd


data = {
    'nombre': ['Juan Pérez', 'Ana López', 'María García', 'Luis Martínez', 'Carmen Rodríguez'],
    'correo': ['juan@example.com', 'ana@example.com', 'maria@example.com', 'luis@example.com', 'carmen@example.com'],
    'ubicacion': ['Ciudad A', 'Ciudad B', 'Ciudad C', 'Ciudad D', 'Ciudad E']
}

df = pd.DataFrame(data)
df.drop(['nombre', 'correo'], axis=1, inplace=True)
df

  ubicacion
0  Ciudad A
1  Ciudad B
2  Ciudad C
3  Ciudad D
4  Ciudad E