# Sesgos en Data Science. Balanceo de Datos 1
Crea un DataFrame de pandas con la siguiente estructura y datos:

![image](./assets/2024-06-09_04-13-54-ce6fb3a91d89a4273a21ba74f761f94a.png)

Guarda este DataFrame en una variable llamada `datos_desbalanceados`.

Utiliza por nombre de variables internas del dataframe las siguientes:

`edad`

`genero`

`contratado`

In [2]:
import pandas as pd


edad = [25, 34, 45, 23, 35]
genero = ['F', 'M', 'M', 'F', 'M']
contratado = [1, 0, 1, 0, 1]

datos_desbalanceados: pd.DataFrame = pd.DataFrame({
    'edad': edad,
    'genero': genero,
    'contratado': contratado
})
datos_desbalanceados.head()

   edad genero  contratado
0    25      F           1
1    34      M           0
2    45      M           1
3    23      F           0
4    35      M           1