# Sesgos en Data Science. Balanceo de Datos 1
Crea un DataFrame de pandas con la siguiente estructura y datos:

![image](./assets/2024-06-09_04-13-54-ce6fb3a91d89a4273a21ba74f761f94a.png)

Guarda este DataFrame en una variable llamada `datos_desbalanceados`.

Utiliza por nombre de variables internas del dataframe las siguientes:

`edad`

`genero`

`contratado`

In [2]:
import pandas as pd


edad = [25, 34, 45, 23, 35]
genero = ['F', 'M', 'M', 'F', 'M']
contratado = [1, 0, 1, 0, 1]

datos_desbalanceados: pd.DataFrame = pd.DataFrame({
    'edad': edad,
    'genero': genero,
    'contratado': contratado
})
datos_desbalanceados.head()

   edad genero  contratado
0    25      F           1
1    34      M           0
2    45      M           1
3    23      F           0
4    35      M           1

# Sesgos en Data Science. Balanceo de Datos 2
Usa el DataFrame `datos_desbalanceados` creado en el ejercicio anterior y aplica una técnica de remuestreo para balancear las clases en la variable `género`.

Asegúrate de que ambos géneros tengan la misma cantidad de observaciones en el conjunto de datos balanceado. Guarda el nuevo DataFrame balanceado en la variable `data_balanceada`.

Sigue estos pasos:

1. Importación de Librerías Necesarias.

2. Creación del DataFrame Inicial `datos_desbalanceados`.

3. Agrupación de Datos:

    - Agrupa los datos en `datos_desbalanceados` por la columna `'género'`. Esto es crucial para aplicar operaciones de remuestreo específicas a cada grupo de género.

4. Inicialización del DataFrame para Datos Balanceados:

    - Inicializa un nuevo DataFrame vacío llamado `data_balanceada` donde almacenarás los resultados del remuestreo.

5. Proceso de Remuestreo:

    - Realiza un bucle sobre cada grupo de género obtenido en el paso de agrupación.

    - Dentro del bucle, aplica la técnica de sobremuestreo para equilibrar el número de muestras en cada género:

        - Usa `replace=True` para permitir la replicación de muestras.

        - Establece `n_samples=10` para igualar el número de muestras en cada género a 10.

        - Utiliza `random_state=123` para asegurar la reproducibilidad del remuestreo.

    - Concatena cada grupo remuestreado al DataFrame `data_balanceada`, asegurando que se preserven los resultados de cada iteración.

**Resultado Esperado:**

- Un DataFrame donde cada género (F y M) tiene exactamente 10 observaciones, demostrando un equilibrio en la distribución de género que no estaba presente en el conjunto de datos original.

In [3]:
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.utils import resample


edad = [25, 34, 45, 23, 35]
genero = ['F', 'M', 'M', 'F', 'M']
contratado = [1, 0, 1, 0, 1]

datos_desbalanceados: pd.DataFrame = pd.DataFrame({
    'edad': edad,
    'genero': genero,
    'contratado': contratado
})

grouped_df = datos_desbalanceados.groupby('genero')

data_balanceada: pd.DataFrame = pd.DataFrame()

for name, group in grouped_df:
    grupo_balanceado = resample(
        group,
        replace=True,
        n_samples=10,
        random_state=123
    )
    data_balanceada = pd.concat([data_balanceada, grupo_balanceado])

data_balanceada

   edad genero  contratado
0    25      F           1
3    23      F           0
0    25      F           1
0    25      F           1
0    25      F           1
0    25      F           1
0    25      F           1
3    23      F           0
3    23      F           0
0    25      F           1
4    35      M           1
2    45      M           1
4    35      M           1
4    35      M           1
1    34      M           0
4    35      M           1
4    35      M           1
2    45      M           1
4    35      M           1
2    45      M           1