# Pseudonimización de Datos en Data Science 1
Dado el DataFrame `df`:
```
df = pd.DataFrame({
    'nombre': ['Ana', 'Juan', 'Luis'],
    'email': ['ana@example.com', 'juan@example.com', 'luis@example.com'],
    'ubicacion': ['Ciudad A', 'Ciudad B', 'Ciudad C']
})
```
Utiliza la biblioteca `uuid` para generar identificadores únicos para cada persona y añádelos al DataFrame.

**Instrucciones:**

1. Genera una lista de identificadores únicos utilizando la biblioteca `uuid`.

2. Añade esta lista al DataFrame como una nueva columna llamada `'id_pseudo'`.

3. Elimina la columna `'nombre'` del DataFrame.

In [1]:
import uuid
import pandas as pd


df = pd.DataFrame({
    'nombre': ['Ana', 'Juan', 'Luis'],
    'email': ['ana@example.com', 'juan@example.com', 'luis@example.com'],
    'ubicacion': ['Ciudad A', 'Ciudad B', 'Ciudad C']
})

uuid_container: list[str] = []

for _ in range(len(df)):
    uuid_container.append(str(uuid.uuid4()))

df['id_pseudo'] = uuid_container
df.drop(['nombre'], axis=1, inplace=True)
df

              email ubicacion                             id_pseudo
0   ana@example.com  Ciudad A  3c7bfbe0-e3b3-4dea-9843-0bd03e014778
1  juan@example.com  Ciudad B  b1638c29-85f7-450d-b587-a45bf28bbcdc
2  luis@example.com  Ciudad C  4a887469-1e66-428e-88e5-1e4c0deb346a