# Concatenar DataFrames en Pandas con concat

In [1]:
import pandas as pd


df1: pd.DataFrame = pd.DataFrame({
    'Name': ['John', 'Mary', 'Bob'],
    'Age': [25, 30, 22]
})
print(df1)

   Name  Age
0  John   25
1  Mary   30
2   Bob   22

In [2]:
df2: pd.DataFrame = pd.DataFrame({
    'Name': ['Sara', 'Patrick', 'Kate'],
    'Age': [31, 23, 37]
})
print(df2)

      Name  Age
0     Sara   31
1  Patrick   23
2     Kate   37

In [3]:
# Uso de concat()
concat_df: pd.DataFrame = pd.concat([df1, df2])
print(concat_df)

      Name  Age
0     John   25
1     Mary   30
2      Bob   22
0     Sara   31
1  Patrick   23
2     Kate   37

**NOTA:** Este método combina dos DF en el eje vertical (por defecto), debido al parámetro `axis=0`.

Valores posibles:  
- 0 = columnas  
- 1 = filas

In [4]:
# Lo mismo, pero en horizontal
concat_df_horizontally: pd.DataFrame = pd.concat([df1, df2], axis=1)
print(concat_df_horizontally)

   Name  Age     Name  Age
0  John   25     Sara   31
1  Mary   30  Patrick   23
2   Bob   22     Kate   37

In [5]:
# Ignorar los índices (se regeneran como 0, 1, 2, 3, 4,...)
concat_df: pd.DataFrame = pd.concat([df1, df2], ignore_index=True)
print(concat_df)

      Name  Age
0     John   25
1     Mary   30
2      Bob   22
3     Sara   31
4  Patrick   23
5     Kate   37

In [6]:
# Agregar marcas para indicar a qué grupo pertenece cada uno de los DF
concat_df: pd.DataFrame = pd.concat([df1, df2], keys=['df_1', 'df_2'])
print(concat_df)

           Name  Age
df_1 0     John   25
     1     Mary   30
     2      Bob   22
df_2 0     Sara   31
     1  Patrick   23
     2     Kate   37