# Trabajar con DataFrames de Pandas

In [1]:
import pandas as pd


data: dict = {
    'name': ['John', 'Mary', 'Bob'],
    'age': [33, 28, 25],
    'city': ['New York', 'London', 'Paris']
}
df: pd.DataFrame = pd.DataFrame(data)
print(df)

   name  age      city
0  John   33  New York
1  Mary   28    London
2   Bob   25     Paris

In [2]:
# Agregar una nueva columna a un df
df['salary'] = [1000, 2000, 3000]
print(df)

   name  age      city  salary
0  John   33  New York    1000
1  Mary   28    London    2000
2   Bob   25     Paris    3000

In [3]:
# Modificre una columna existente
df['salary'] = df['salary'] + 500
print(df)

   name  age      city  salary
0  John   33  New York    1500
1  Mary   28    London    2500
2   Bob   25     Paris    3500

In [4]:
# Seleccionar una columna y guardarla en una variable
names: pd.Series = df['name']
print(names)

0    John
1    Mary
2     Bob
Name: name, dtype: object

In [5]:
# Filtrar lo registros que cumplan una condición
greater_than_27: pd.DataFrame = df[df['age'] > 27]
print(greater_than_27)

   name  age      city  salary
0  John   33  New York    1500
1  Mary   28    London    2500

In [6]:
# Ídem, pero desglosado en variables para mejor entendimiento
ages: pd.Series = df['age']
greater_than_27: pd.DataFrame = df[ages > 27]
print(greater_than_27)

   name  age      city  salary
0  John   33  New York    1500
1  Mary   28    London    2500